# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# Environment
.env
.env.local

# Models (large files)
#models/*.pkl

# Dataset
dataset/*.csv
dataset/*.zip

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
